<div class="fantasmadiv">
  <form>
    <h4>GHOST FORM</h4>
    <h5>bc your data will go nowhere lol</h5>
    <br>
    <h6>fantasmagorical name <input [(ngModel)]="ghostoName" type="text"></h6>
    <h6>fantasmagorical age <input [(ngModel)]="ghostoAge" type="number"></h6>
    <h6>fantasmagorical height (cm) <input [(ngModel)]="ghostoHeight" type="number"></h6>

    <button (click)="submitAction()">SUBMIT</button>

    <br><br>
    <input [(ngModel)]="nameShow"> <br><br>
    <input [(ngModel)]="ageShow"> <br><br>
    <input [(ngModel)]="heightShow"> <br><br>

    <h6>object-oriented programming at its purest form, man</h6>
  </form>
</div>

<!--Si quiere y le aplica estilo a toda esta vuelta-->


