@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

:root{
    --primary-color: #EA755B;
    --secondary-color: #9A6CC8;
    --clear-gray: #F0F0F0;
}
